<%- include('header.html') -%>
    <div class="container mt-4">
        <nav>
            <ol class="breadcrumb bg-white">
                <li class="breadcrumb-item"><a href="/">首页</a></li>
                <li class="breadcrumb-item"><a href="/article/list/<%=article.category_id%>"><%=article.name%></a></li>
                <li class="breadcrumb-item active"><%=article.title%></li>
            </ol>
        </nav>
        <div class="card">
            <div class="card-header bg-white">
                <h3 class="card-title m-0"><%=article.title%></h3>
                <p class="text-muted small mt-2 m-0">
                    <span class="mr-3"><%=article.time.toLocaleString%></span> time.toLocaleString转为本地时间
                    <span class="mr-1"><%=article.hits%></span>
                </p>
            </div>
            <div class="card-body"><%- article.content %></div>
            <div class="card-footer bg-white border-0">
                <%tabs.forEach(tabs1 =>{%>
                    <span class="badge badge-pill"><%=tabs1.name%></span>
                <%})%>
            </div>
        </div>
        <nav>
            <ul class="pagination mt-3">
                <% if (Last){ %>
                <li class="page-item">
                        <a class="page-link" href="/article/<%=Last.id%>">上一篇：<%=Last.title%>></a>
                </li>
                <% } %>
                <% if (Next){%>
                <li class="page-item ml-auto">
                        <a class="page-link" href="/article/<%=Next.id%>">下一篇：<%=Next.title%>></a>
                </li>
                <%} %>
            </ul>
        </nav>
    </div>
    <%- include('footer.html') -%>